<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form name="addProcedureForm" novalidate ng-submit="addProcedure()" class="form" method="post">
    <div class="modal-header">
        <h2 class="text-center">הוספת נוהל</h2>
    </div>

    <div class="modal-body">
        <div ng-class="{'has-error': addProcedureForm.name.$invalid && addProcedureForm.name.$dirty}">
            <lable name="name" class="control-label"><h4 class="text-center">שם הנוהל</h4></lable>
            <div>
                <input type="text" name="name" class="form-control" ng-model-options="{updateOn: 'blur'}" ng-model="procedure.name" ng-minlength="3" required placeholder="שם הנוהל">
            </div>
        </div>
        <div>
            <input class="input-file" type="file" required>
        </div>

        <div class="alert-danger verify-err">
            <div ng-show="addProcedureForm.name.$invalid && addProcedureForm.name.$dirty">שם הנוהל חייב להחיל 3 תווים לפחות</div>
        </div>

    </div>

    <button type="submit" class="modal-submit-btn btn btn-block">הוסף נוהל</button>

</form>
</body>
</html>