<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="container">
    <div class="col-sm-12">
        <h1 class="pagesHeader">שרטוטים ל{{systemChoose}}</h1>
        <div ng-repeat="draw in drawList | filter:{system:systemChoose}">
            <h3 class="text-center">{{draw.name}}</h3>
        </div>
        <button type="button" class="btn btn-success col-sm-12"  ng-click="drawOpen()">הוסף שרטוט</button>
    </div>
</div>
</body>
</html>