<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form name="addQueryForm" novalidate ng-submit="addQuery()" class="form" method="post">
    <div class="modal-header">
        <h2 class="text-center">הוספת שליפה</h2>
    </div>

    <div class="modal-body">
        <div ng-class="{'has-error': addQueryForm.name.$invalid && addQueryForm.name.$dirty}">
            <lable name="query" class="control-label"><h4 class="text-center">שם השליפה</h4></lable>
            <div>
                <input type="text" name="name" class="form-control" ng-model-options="{updateOn: 'blur'}" ng-model="query.name" ng-minlength="20" required placeholder="שם השליפה">
            </div>
        </div>

        <div ng-class="{'has-error': addQueryForm.explanation.$invalid && addQueryForm.explanation.$dirty}">
            <lable name="explanation" class="control-label"><h4 class="text-center">הסבר על השליפה</h4></lable>
            <div>
                <textarea class="form-control query-exp-text-area" name="explanation" ng-model-options="{updateOn: 'blur'}" ng-model="query.explanation" ng-minlength="30" required  placeholder="הכנס הסבר מפורט על השליפה"></textarea>
            </div>
        </div>

        <div ng-class="{'has-error': addQueryForm.query.$invalid && addQueryForm.query.$dirty}">
            <lable name="query" class="control-label"><h4 class="text-center">השליפה</h4></lable>
            <div>
                <textarea class="form-control query-text-area" name="query" ng-model-options="{updateOn: 'blur'}" ng-model="query.query" ng-minlength="30" required  placeholder="הכנס את השליפה עצמה"></textarea>
            </div>
        </div>

        <div class="alert-danger verify-err">
            <div ng-show="addQueryForm.name.$invalid && addQueryForm.name.$dirty">שם השליפה צריך להכיל 20 תווים לפחות</div>
            <div ng-show="addQueryForm.explanation.$invalid && addQueryForm.explanation.$dirty">ההסבר על השליפה צריך להכיל 30 תווים לפחות</div>
            <div ng-show="addQueryForm.query.$invalid && addQueryForm.query.$dirty">השליפה צריכה להכיל 30 תווים לפחות</div>

        </div>

    </div>

    <button type="submit" class="modal-submit-btn btn btn-block">הוסף שליפה</button>

</form>
</body>
</html>