<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="container">
    <div class="col-sm-12">
        <h1 class="pagesHeader">שליפות ל{{systemChoose}}</h1>
        <div ng-repeat="query in queryList | filter:{system:systemChoose}">
            <div>{{query.name}}</div>
            <div>{{query.explanation}}</div>
            <div>{{query.query}}</div>
            <div>{{query.system}}</div>
        </div>
        <button type="button" class="btn btn-success col-sm-12"  ng-click="queryOpen()">הוסף שליפה</button>
    </div>
</div>
</body>
</html>

