*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: #dddddd;
}

.nav-stacked{
    background-color: #1976D2;
    border-radius: 0.3em;
}

.nav-stacked a{
    color: whitesmoke;
    text-align: center;
    font-size: medium;
}

.nav-stacked >li>a:hover {
    background-color:#2196F3;
}

.nav-stacked >li>a:focus {
    background-color:#2196F3;
}

textarea{
    resize: none;
}

@keyframes cards {
    from{ transform:  scale(1)}
    to{transform: scale(1.05)}
}

.card-container{
    transform: scale(1);
    margin-bottom: 1em;
}

.system-card{
    display: inline-block;
    border-radius: 0.3em;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.2);
}

.card-img{
    width: 100%;
    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;
}


.system-card:hover {
    /* Toggle our animation play state to running when we are hovering over our sticker */
    animation-name: cards;
    animation-fill-mode: forwards;
    animation-duration: 0.1s;
}

.system-card :hover ~ .card-footer{
    display: none;
}

.card-footer{
    position: absolute;
    bottom: 0;
    color: whitesmoke;
    background-color: #444444;
    text-align: center;
    width: 100%;
    border-bottom-left-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
    opacity: 0.95;

}


.modal-header{
    border-color: #1565C0;
    padding: 0;
}

.big-text-area{
    height: 20em !important;
}

.medium-text-area{
    height: 15em !important;
}

.small-text-area{
    height: 10em !important;
}


.modal-submit-btn{
    color: whitesmoke;
    border: none;
    background-color: #1565C0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.verify-err{
    margin-top: 1em;
}

.input-file{
    margin-top: 1em;
}
