*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background: url("../img/backgroud.jpg");
}

hr{
    border-top: 1px solid #212121;

}

.website-logo{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 50px;
}

.nav-stacked{
    background-color: #1976D2;
    border-radius: 0.3em;
}

.nav-stacked a{
    color: whitesmoke;
    text-align: center;
    font-size: medium;
}

.nav-stacked >li>a:hover {
    background-color:#2196F3;
}

.nav-stacked >li>a:focus {
    background-color:#2196F3;
}

textarea{
    resize: none;
}

@keyframes cards {
    from{ transform:  scale(1); opacity: 0.85}
    to{transform: scale(1.03); opacity: 1}
}

@keyframes cards-footer {
    from{ opacity:  0.90}
    to{opacity:  0}
}

.card-container{
    transform: scale(1);
    margin-bottom: 1em;
    background-color: black;
    border-radius: 0.3em;
}

.system-card{
    display: inline-block;
    border-radius: 0.3em;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.2);
}

.card-img{
    width: 100%;
    border-radius: 0.3em;

}


.system-card:hover {
    /* Toggle our animation play state to running when we are hovering over our sticker */
    animation-name: cards;
    animation-fill-mode: forwards;
    animation-duration: 0.3s;
}

.system-card :hover ~ .card-footer{
    animation-name: cards-footer;
    animation-fill-mode: forwards;
    animation-duration: 0.3s;
}

.card-footer{
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    color: whitesmoke
;
    background-color: #444444;
    text-align: center;
    width: 100%;
}


.modal-header{
    border-color: #1565C0;
    padding: 0;
}

.big-text-area{
    height: 20em !important;
}

.medium-text-area{
    height: 15em !important;
}

.small-text-area{
    height: 10em !important;
}


.modal-submit-btn{
    color: whitesmoke;
    border: none;
    background-color: #1565C0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.verify-err{
    margin-top: 1em;
}

.input-file{
    margin-top: 1em;
}

.pagesHeader{
    text-align: center;
    text-decoration: underline;
    color: #2196F3;
}
.systemPageContainer{
    background-color: whitesmoke;
}

.sidebar-header{
    text-align: center;
    color: whitesmoke;
}

.nav-stacked hr{
    border-top: 1px solid whitesmoke;
}