<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="container">
    <div class="col-sm-12">
        <h1 class="pagesHeader">תקלות ב{{systemChoose}}</h1>
        <div class="problemContainer">
            <div ng-repeat="problem in problemList | filter:{system:systemChoose}">
                    <h4>סימפטום התקלה: {{problem.symptom}}</h4>
                    <h5>פתרון התקלה: {{problem.solution}}</h5>
                <hr>
            </div>
        </div>
        <button type="button" class="btn btn-success col-sm-12"  ng-click="problemOpen()">הוסף תקלה</button>
    </div>
</div>
</body>
</html>