<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="container">
    <div class="col-sm-12">
        <h1 class="pagesHeader">סקריפטים ל{{systemChoose}}</h1>
        <div ng-repeat="script in scriptList | filter:{system:systemChoose}">
            <h1 class="text-center">{{script.name}}</h1>
            <div>תיאור הסקריפט: {{script.description}}</div>
        </div>
        <button type="button" class="btn btn-success col-sm-12"  ng-click="scriptOpen()">הוסף סקריפט</button>
    </div>
</div>
</body>
</html>

