<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="container">
    <div class="col-sm-12">
        <h1 class="pagesHeader">סקריפטים ל{{systemChoose}}</h1>
        <div class="systemPageContainer">
            <div ng-repeat="script in scriptList | filter:{system:systemChoose}">
                <h3 class="text-center">{{script.name}}</h3>
                <h5 class="text-center">תיאור הסקריפט: {{script.description}}</h5>
                <button type="button" class="btn btn-danger col-sm-offset-10">הרץ סקריפט</button>
                <hr>
            </div>
        </div>
        <button type="button" class="btn btn-success col-sm-12"  ng-click="scriptOpen()">הוסף סקריפט</button>
    </div>
</div>
</body>
</html>

