<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div class="col-sm-2" style="height: 70vh">
        <ul class="nav  nav-stacked" style="height: 100%">
            <li><h2 class="sidebar-header">עזרים</h2></li>
            <hr>
            <li><a ui-sref="scriptPage">סקיפטים</a></li>
            <li><a ui-sref="queryPage">שליפות</a></li>
            <li><a ui-sref="problemPage">תקלות</a></li>
            <li><a ui-sref="procedurePage">נהלים</a></li>
            <li><a ui-sref="drawPage">שרטוטים</a></li>
        </ul>
    </div>
    <div ui-view></div>
</body>
</html>